.attachment-view {
    -fx-base: #65ae71;
    -fx-background-color: radial-gradient(focus-distance 0% , center 90% 25%, radius 50%, #7ebc89, #65ae71);
    -fx-padding: 4px;
    -fx-effect: dropshadow(one-pass-box, #00000026, 5, 0, 0, 2);

    -fx-pref-height: 150px;
    -fx-pref-width: 150px;

    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.attachment-view-display-box {
    -fx-font-size: 12;
}

.attachment-view-label-box {
    -fx-padding: 2px;
}