.kanban-boardname {
    -fx-font-size: xx-large;
    -fx-font-weight: bold;
    -fx-opacity: 0.5;
    -fx-padding: 5;
}

.kanban-openreminder {
    -fx-font-size: large;
    -fx-opacity: 0.8;
    -fx-padding: 0 0 0 5;
}

.kanban-container {
    -fx-padding: 4px;
}

.kanban-scroll {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.kanban-column-list {
    -fx-border-width: 2px;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #222;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 4px;
}

.kanban-column-label {
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-text-anchor: middle;
}

.kanban-issue {
    -fx-background-color: #8eeaf8;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-padding: 4px;
}

.item-tag {
    -fx-background-radius: 2px;
    -fx-padding: 2px;
    -fx-background-color: #FFFFFF;
    -fx-font-size: small;
}

.kanban-issue:hover {
    -fx-background-color: #7dcdd8;
    -fx-cursor: pointer;
}

.item-title {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.list-cell .label {
    -fx-text-fill: black;
}