* {
    -fx-font-family: Tahoma, sans-serif;
    -fx-focus-color: #ff4c4c;
    -fx-faint-focus-color: transparent;
}
.button:default {
    -fx-base: #ff6c6c
}

.id-tag {
    -fx-padding: 2 4 2 4;
    -fx-background-color: #FFFFFF;
    -fx-font-size: small;
    -fx-text-fill: black;
}

.common-tag {
    -fx-font-size: small;
    -fx-font-weight: bold;
    -fx-scale-shape: square;
    -fx-text-fill: white;
    -fx-padding: 2px;
}

.bug-tag {
    -fx-background-color: #ff4c4c;
}

.feature-tag {
    -fx-background-color: #36cf7e;
}

.task-tag {
    -fx-background-color: #4e504e;
}

.item-title {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: black;
}

.item-description {
    -fx-text-fill: black;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-padding: 4;
}

.common-field-label {
    -fx-font-size: 10;
    -fx-font-weight: bold;
}

.common-issue {
    -fx-base: #e1cb91;
    -fx-background-color: radial-gradient(focus-distance 0% , center 90% 25%, radius 50%, #ecd69d, #eccf86);
    -fx-padding: 4px;
    -fx-effect: dropshadow(one-pass-box, #00000026, 5, 0, 0, 2);
}

.common-column-list {
    -fx-background-color: radial-gradient(focus-distance 0% , center 90% 25%, radius 50%, #fcfcf9, #f4f4f0);
    -fx-background-radius: 0 0 5 5;
    -fx-border-radius: 0 0 5 5;
    -fx-scale-x: 1;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-background-insets: 0, 0, 0;
}

/*noinspection CssInvalidPseudoSelector*/
.common-column-list:focus-visible {
    -fx-border-color: #ff6c6c
}

.common-column {
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, #00000030, 10, 0, 0, 0);
}

.context-menu,
.combo-box-popup .list-view {
    -fx-padding: 4;
    -fx-font-size: 12;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
}

.combo-box-popup .list-view {
    -fx-translate-y: 2;
}

.context-menu .separator {
    -fx-padding: 2 0 2 0;
}

.context-menu .menu-item,
.combo-box-popup .list-cell {
    -fx-border-width: 2;
    -fx-border-color: transparent;
    -fx-border-radius: 1;
    -fx-background-radius: 1;
}

.context-menu .menu-item:focused,
.combo-box-popup .list-cell:focused,
.combo-box-popup .list-cell:hover {
    -fx-background-color: #ff6c6c;
    -fx-border-color: #ff4c4c;
}

.combo-box-popup .list-cell:hover {
    -fx-opacity: 0.75;
}

.menu-bar {
    -fx-font-size: 12;
}

.menu-bar .menu:hover,
.menu-bar .menu:showing {
    -fx-background-color: #ff6c6c;
}
